<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Создание пользователя</title>
</head>
<body>
<div th:replace="logout_fragment :: logout" ></div>
<h1>Создание пользователя</h1>
<form action="#" th:action="@{/admin/create_user}" th:object="${user}" method="post">
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" th:field="*{username}" required>
  <br><br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" th:field="*{password}" required>
  <br><br>
  <label for="role">Роль:</label>
  <select id="role" th:field="*{roles}">
    <option value="">Выберите роль</option>
    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
  </select>
  <br><br>
  <button type="submit">Создать</button>
</form>
</body>
</html>