<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Получение данных пользователя</title>
</head>
<body>
<div id="user-data">Здесь будет информация о пользователе</div>
<script src="your_script_file.js"></script>
<script>
  // Вызов функции getUserData при загрузке страницы
  document.addEventListener("DOMContentLoaded", function() {
    getUserData();
  });
</script>
</body>
</html>